@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap')

@import "../../node_modules/bootstrap/scss/bootstrap"

@each $breakpoint in map-keys($grid-breakpoints)
  @include media-breakpoint-up($breakpoint)
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints)

    .rounded#{$infix}
      border-radius: $border-radius !important

    .rounded-top#{$infix}
      border-top-left-radius: $border-radius !important
      border-top-right-radius: $border-radius !important

    .rounded-right#{$infix}
      border-top-right-radius: $border-radius !important
      border-bottom-right-radius: $border-radius !important

    .rounded-bottom#{$infix}
      border-bottom-right-radius: $border-radius !important
      border-bottom-left-radius: $border-radius !important

    .rounded-left#{$infix}
      border-top-left-radius: $border-radius !important
      border-bottom-left-radius: $border-radius !important

// Variables
$orange: #FF7E1B
$pale-orange: hsl(25, 100%, 94%)
$very-dark-blue: hsl(220, 13%, 13%)
$dark-grayish-blue: hsl(219, 9%, 45%)
$grayish-blue: hsl(220, 14%, 75%)
$light-grayish-blue: hsl(223, 64%, 98%)
$white: hsl(0, 0%, 100%)
$black: #1D2026
$gray: #69707D
$font-family: 'Kumbh Sans', sans-serif
$font-size: 16px
$my-border-radius: 10px

// Mixins
@mixin bg-image($url)
    background-image: url($url)
    background-repeat: no-repeat

// Root
:root
    --bs-border-radius: #{$my-border-radius}

// Body
body
    font: 100% $font-family
    font-size: $font-size
    background-color: $white

// Navbar
.navbar__profile-pic
    width: 24px
    height: 24px

.offcanvas-header
    .btn-close
        opacity: 1
        // align-self: self-end
        // z-index: 2
// Button
// .offcanvas-header
//     .btn-close
//         @include bg-image('../../assets/images/icon-close.svg')
//         opacity: 1
//         align-self: self-end
//         // z-index: 1
//     .btn-close:hover
//         @include bg-image('../../assets/images/icon-close-hover.svg')
//         opacity: 1

// Nav link
.nav-link
    font-weight: bold

// // Modal
// .modal, .modal-content 
//   background-color: transparent !important
//   border: 0

// .modal-footer
//   border-top: 0

// // both Carousels
.carousel-control-prev
    left: 10px

.carousel-control-prev, .carousel-control-next
    opacity: 1

.carousel-control-prev-icon, .carousel-control-next-icon
    background-color: $white
    border-radius: 50%
    background-size: 8px 16px

.carousel-control-prev-icon
    @include bg-image('../../assets/images/icon-previous.svg')

.carousel-control-next-icon:hover
    @include bg-image('../../assets/images/icon-next-hover.svg')

.carousel-control-prev-icon:hover
    @include bg-image('../../assets/images/icon-previous-hover.svg')

.carousel-control-next-icon
    @include bg-image('../../assets/images/icon-next.svg')

// // myCarousel
// #myCarousel
//   .carousel-indicators
//     position: unset

//   .carousel-indicators [data-bs-target]
//     opacity: 1
//     background-color: transparent !important
//     width: 88px
//     height: 88px

//   .carousel-indicators .active
//     opacity: 0.5 !important

//   .active-border
//     border: 20px solid $orange

  .carousel-control-next, .carousel-control-prev
    opacity: 1
    // top: -100px

  .carousel-control-next:hover, .carousel-control-prev:hover
    opacity: 1

//   .carousel-control-prev
//     left: -38px

//   .carousel-control-next
//     right: -38px

//   .img-thumbnail
//     position: relative
//     overflow: hidden

//   .img-thumbnail img
//     width: 100%
//     height: auto

//   .img-thumbnail.active .image-overlay
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     background-color: rgba(255, 255, 255, 0.75)
//     z-index: 2
//     border-radius: $my-border-radius
//     border: 2px solid $orange

// .carousel-inner
  // max-height: 50vh
  // img
  //   object-fit: contain

// .carousel-indicators
//   position: unset

.carousel-indicators
    position: relative

.carousel-indicators [data-bs-target]
    opacity: 1
    background-color: transparent !important
    width: 88px
    height: 88px

.thumbnail-indicator
    position: relative
    overflow: hidden


.thumbnail-indicator img
    width: 100%
    height: auto
    border-radius: $my-border-radius

.thumbnail-indicator.active .thumbnail-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.75)
    z-index: 2
    border-radius: $my-border-radius
    border: 2px solid $orange

.modal-backdrop.show 
    opacity: 0.8

.modal-content
    background-color: transparent
    border: 0

#myCarouselInModal .carousel-control-prev,
#myCarouselInModal .carousel-control-next
    top: -100px

#myModal .btn-close
    @include bg-image('../../assets/images/icon-close.svg')
    opacity: 1
    align-self: self-end
    z-index: 2

#myModal .btn-close:hover
    @include bg-image('../../assets/images/icon-close-hover.svg')
    opacity: 1