@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap')
@import "../../node_modules/bootstrap/scss/bootstrap"

$orange: #FF7E1B
$medium-orange: #FFAB6A
$light-orange: #FFEEE2
$white: #ffffff
$black: #1D2026
$gray: #69707D
$light-gray: #B6BCC8
$font-family: 'Kumbh Sans', sans-serif
$fw-regular: 400
$fw-bold: 700
$font-size: 16px
$my-border-radius: 10px
$thumbnail-size: 50px
$icon-size: 16px

@mixin bg-image($url)
    background-image: url($url)
    background-repeat: no-repeat

@mixin indicator-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(255, 255, 255, 0.75)
    z-index: 2

@mixin font-styles($weight, $size)
    font-weight: $weight
    font-size: $size

@mixin button-styles($bg-color, $text-color)
    background-color: $bg-color
    color: $text-color
    font-size: $font-size
    font-weight: $fw-bold

:root
    --bs-border-radius: #{$my-border-radius}

body
    font: 100% $font-family
    font-size: $font-size
    color: $black
    background-color: $white

nav
    padding-top: 41px

    > div
        @media (min-width: 768px)
            border-bottom: 1px solid #979797
            padding-top: 41px

.navbar__profile-pic
    width: $thumbnail-size
    height: $thumbnail-size

    @media (max-width: 768px)
        width: $icon-size
        height: $icon-size

.offcanvas-header
    .btn-close
        opacity: 1

.nav-link
    color: $gray
    @include font-styles($fw-regular, $font-size)

    @media (min-width: 768px)
        font-weight: $fw-bold
        padding-bottom: 41px
        border-bottom: 4px solid $white

        &:hover, &.active
            border-bottom: 4px solid $orange
            color: $black !important

.popover
    font-family: $font-family
    --bs-popover-arrow-width: 0px

    @media (max-width: 767px)
        max-width: 100% !important
        width: 100% !important

.popover-header
    background: $white
    border-bottom: 1px solid #E4E9F2 !important

.custom-popover
    width: 360px
    border: 0
    border-radius: $my-border-radius
    background: $white
    box-shadow: 0px 20px 50px -20px $black

.popover-body
    display: flex
    align-items: center

#emptyCart
    min-height: 220px
    padding-top: 40%

    @media (max-width: 767px)
        padding-top: 20%

#cartTotal
    font-weight: $fw-bold

#loadedCart
    .cart__thumbnail, .cart__delete
        width: $thumbnail-size
        height: $thumbnail-size

    .cart__delete
        width: $icon-size
        height: $icon-size - 2px

    .checkout
        @include button-styles($orange, $white)

.carousel-control-prev
    left: 10px

.carousel-control-prev, .carousel-control-next
    opacity: 1

    .carousel-control-prev-icon, .carousel-control-next-icon
        background-color: $white
        border-radius: 50%
        background-size: 8px 16px

        &:hover
            background-image: url('../../assets/images/icon-next-hover.svg')

    .carousel-control-prev-icon
        background-image: url('../../assets/images/icon-previous.svg')

    .carousel-control-next-icon
        background-image: url('../../assets/images/icon-next.svg')

    &:hover
        opacity: 1

.carousel-indicators
    position: relative

    [data-bs-target]
        opacity: 1
        background-color: transparent !important
        width: 88px
        height: 88px

.thumbnail-indicator
    position: relative
    overflow: hidden

    &:hover .thumbnail-overlay
        @include indicator-overlay

    img
        width: 100%
        height: auto
        border-radius: $my-border-radius

    &.active .thumbnail-overlay
        @include indicator-overlay
        border-radius: $my-border-radius
        border: 2px solid $orange

.modal-backdrop.show
    opacity: 0.8

.modal-content
    background-color: transparent
    border: 0

#myCarouselInModal .carousel-control-prev, #myCarouselInModal .carousel-control-next
    top: -100px

#myModal .btn-close
    @include bg-image('../../assets/images/icon-close.svg')
    opacity: 1
    align-self: self-end
    z-index: 2

    &:hover
        @include bg-image('../../assets/images/icon-close-hover.svg')
        opacity: 1

.product__company-name
    color: $orange
    letter-spacing: 2px
    text-transform: uppercase
    @include font-styles($fw-bold, 13px)

.product__name
    @include font-styles($fw-bold, 44px)
    line-height: 47px

.product__description
    color: $gray
    @include font-styles($fw-regular, $font-size)
    line-height: 26px

.product__price-discounted
    color: $black
    @include font-styles($fw-bold, 28px)

.product__price
    color: $light-gray
    @include font-styles($fw-bold, $font-size)
    line-height: 1px
    text-decoration: line-through

.product__discount
    font-weight: $fw-bold
    color: $orange
    background-color: $light-orange

.product__counter
    background-color: #F6F8FD
    font-weight: $fw-bold
    border: 0

// Delete ARROWS from POPVER START
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

input[type=number]
    -moz-appearance: textfield
// Delete ARROWS from POPVER END
.input-group-text.product__counter
    color: $orange

.icon-minus, .icon-plus
    background-position: center

.icon-minus
    @include bg-image('../../assets/images/icon-minus.svg')

.icon-plus
    @include bg-image('../../assets/images/icon-plus.svg')
    
.product__addToCart
    @include button-styles($orange, $white)

    &:hover
        background-color: $medium-orange
        color: $white

    &:active, &:focus-visible, &:focus
        background-color: $orange !important
        color: $white !important

.badge
    background-color: $orange
    font-size: 10px